body {
  font-family: 'Lato', sans-serif;
  margin: auto;
  padding-left: 10px;
}


ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 40%;
}

li.low {
  border: 2px solid #1a681e;
  color: #1a681e;
}

li.high {
  border: 2px solid #f2360c;
  color: #f2360c;
}

input[type="text"] {
  padding: 10px;
  width: 25%;
}

button{
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}
